.input {
    width: calc(100% - 20px);
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.submit {
    width: 200px;
    margin: 20px 10px 20px auto !important;
    float: right;
}

.submit svg {
    margin-left: 5px;
    font-size: 0.9em;
}